.home-container {
  color: white;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

/* Services section */
.services-container {
  max-width: 1200px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.services-container h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.services-container h2.visible {
  opacity: 1;
  transform: translateY(0);
}

.services-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .home-container {
    padding: 0 10px;
  }

  .services-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .services-container h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .services-container {
    margin: 5vh auto;
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .services-cards-container {
    gap: 0;
  }

  .services-container h2 {
    font-size: 1.6rem;
  }
}